@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@500;700&family=Public+Sans:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track {background: hsl(0, 0%, 80%);}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: hsl(15, 100%, 55%);
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(217, 100%, 50%);
}
:root{
  --fs-1: 38px;
  --fs-2: 35px;
  --fs-3: 30px;
  --fs-4: 22px;
  --fs-5: 20px;
  --fs-6: 15px;
  
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --fw-8: 800;
  --fw-9: 900;

  --default-transition: 0.25s ease;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font: inherit;
}
button {
  cursor: pointer;
  border: none;
  font: inherit;
}

.item a {
  padding: 10px;
  font-size: var(--fs-5);
  font-weight: var(--fs-6);
  color: hsl(229, 84%, 12%);
  transition: var(--default-transition);
}
.item a:hover {color:hsl(15, 100%, 55%)}
.active {
  animation: menuPopup 0.5s ease forwards;
  pointer-events: all;
}
@keyframes menuPopup {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.btn {
  position: relative;
  font-size: var(--fs-6);
  font-weight: var(--fw-5);
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  overflow: hidden;
}
.btn-prime, .btn-secondary, .anime {
 background: hsl(15, 100%, 55%);
}
.btn .anime {
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  transform: translateY(-50%);
  transition: var(--default-transition);
} 
.btn:hover .anime {
  right: -2px;
  width: 102%;
  height: 102%;
}

.btn-prime .anime, .btn-secondary {
  background: hsl(229, 84%, 12%);
}
.home::before {
    content: '';
    position: absolute;
    top: -200px;
    left: -400px;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, hsla(217, 100%, 50%, 0.3), transparent 70%);
}
.home::after {
  content: '';
  position: absolute;
  top: 100px;
  right: -400px;
  height: 800px;
  width: 800px;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, hsla(15, 100%, 55%, 0.3), transparent 70%);
}

.right .box {
  position: relative;
  margin-top: 20px;
}
.right .box img {
 position: absolute;
}
.right .box .banner {
  position: relative;
  width: auto;
  max-width: 100%;
  margin: auto;
  z-index: 2;
}
.right .bg-shape {
  width: auto;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.category {
  border: 1px solid hsl(0, 0%, 67%);
  @apply flex items-center gap-5 p-7 rounded-[8px];
  transition: var(--default-transition);
}

.category:hover {
  border-color: hsl(15, 100%, 55%);
  box-shadow: 0 10px 50px -20px hsl(15, 100%, 55%);
  @apply bg-default;
}
.cat-icon {
  @apply w-[50px]
}
.cat-icon.hove,
.category:hover .cat-icon.default {
  @apply hidden
}
.cat-icon.default,
.category:hover .cat-icon.hove {
  @apply block
}

.left .img-box {
  @apply relative
}
.left img {
  @apply absolute
}

.left .img {
  @apply relative z-20
}
.course-card{
  @apply bg-white1 rounded-[8px] overflow-hidden;
  box-shadow: 0 10px 50px hsla(0, 0%, 0%, 0.1);
}
.course-banner {
  @apply relative overflow-hidden
}
.course-banner img {
  @apply w-full h-full object-cover;
  transition: var(--default-transition);
}
.course-card:hover .course-banner img {
  transform: scale(1.05);
}
.course-banner .course-tag {
  @apply absolute bottom-5 left-[30px] flex items-center gap-5 text-ultra-blue
}
.course-banner .bad {
  @apply text-[15px] rounded-[5px] py-2 px-5 text-white1  
}
.course-banner .orange {
  @apply bg-default
} 
.course-banner .blue {
  @apply bg-ultra-blue
}
.course-content h3 {
  @apply text-ultra-blue text-lg font-semibold mb-5
}
.course-card .course-content {
  @apply p-[30px] pb-5
}
.course-card h3 a {
  @apply text-exford text-[22px] font-[800] leading-tight;
  transition: var(--default-transition);
}
.course-card:hover h3 a {
  @apply text-default
}
.course-card .wrapper {
  @apply flex justify-between items-center
}
.course-card .bo {
  @apply pb-[30px] mb-[15px];
  border-bottom: 1px solid hsl(0, 0%, 80%);
}
.course-card .author {
  @apply flex items-center gap-5
}
.course-card .author img {
  @apply rounded-full;
  border: 3px solid hsl(0, 0%, 100%);
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.2);
}
.course-card .author a {
  @apply text-[15px] text-sonic;
  transition: var(--default-transition);
}
.course-card .author a:hover {
  @apply text-exford;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
}
.course-card .rating {
  @apply flex items-center gap-2
}
.course-card .rating .icon {
  font-size: 20px;
  color: hsl(45, 100%, 51%);
}
.course-card .enroll p,
.course-card .rating p {
  @apply text-[15px] text-sonic
}
.course-card .price {
  @apply text-default font-[800] text-[20px]
}
.course-card .enroll {
  @apply flex items-center gap-3
}
.course-card .enroll .icon-user {
  background-color: hsl(138, 59%, 91%);
  @apply w-[30px] h-[30px] flex items-center justify-center rounded-full;
}

.event-card {
  border-right: 3px solid transparent;
  @apply py-[35px] px-[25px] bg-white1 shadow-md rounded-[8px];
  transition: var(--default-transition);
  cursor: pointer;
}
.event-card .content-left {
  @apply w-full text-center pb-[15px] mb-[25px];
}
.event-card .content-left .day {
  @apply text-[30px] font-[800] text-blue-cray
}
.event-card .content-left .month {
  @apply text-[16px] font-[600] text-blue-cray
}
.event-card .should {
  @apply flex justify-center mb-3
}
.event-card .should p {
  @apply text-sonic text-[15px]
}
.event-card .should .time {
  @apply pr-5 mr-5 mb-2;
  box-shadow: 4px 0 0 -3px hsl(0, 0%, 80%);
}
.event-card .e-name {
  display: block;
  font-size: 27px;
  font-weight: 900;
  color: hsl(229, 84%, 12%);
  text-align: center;
  transition: var(--default-transition);
}

.event-card:hover {
  border-color: hsl(15, 100%, 55%);
}
.event-card:hover .e-name {
  color: hsl(15, 100%, 55%);
}